#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}
.grid-container {
  display: grid;
  grid-template-areas:
    "title title title title title title"
    "navbar navbar navbar navbar navbar navbar"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  gap: 10px;
  width: 100%;
}
.title {
  grid-area: title;
  color: var(--palette_black);
}
.navbar {
  grid-area: navbar;
  width: 80%;
  margin: 0 auto;
  background-color: #ffcab0;
}
.menu {
  grid-area: menu;
}
.main {
  grid-area: main;
}
.right {
  grid-area: right;
}
.footer {
  grid-area: footer;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
