#root {
  width: 100%;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
  color: var(--palette_black);
}
.grid-container {
  display: grid;
  grid-template-areas:
    "title title title title title title"
    "navbar navbar navbar navbar navbar navbar"
    "menu main main main right right"
    "menu footer footer footer footer footer";
  gap: 10px;
  width: 100%;
}
.title {
  grid-area: title;
  justify-content: center;
  display: flex;
  align-items: center;
  font-size: 3.2em;
}
.navbar {
  grid-area: navbar;
  width: 80%;
  margin: 0 auto;
  background-color: #ffcab0;
}
.menu {
  grid-area: menu;
}
.main {
  grid-area: main;
}
.right {
  grid-area: right;
}
.footer {
  grid-area: footer;
}

.logo {
  height: 4em;
  /* padding: 0.5em; */
  will-change: filter;
  transition: filter 300ms;
  cursor: pointer;
  filter: drop-shadow(0 0 5px var(--palette_orange));
  transition: filter 0.3s;
}
.logo:hover {
  filter: drop-shadow(0 0 1.5em var(--palette_black));
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
